div.player
{
position:relative;
height:350px;
width:1100px;
background-color:#e0e0e0;
border:5px outset black;
}

div#you
{
border-top-width:0px;
}

div#opponent
{
border-bottom-width:0px;
}

div#opponent div.pileZone
{
display:inline-block;
height:150px;
width:75px;
border:2px solid black;
margin:5px;
}

div#you div.pileZone
{
position:absolute;
display:inline-block;
height:150px;
width:75px;
border:2px solid black;
margin:5px;
bottom:0;
}
